*.log
*.aux
*.out
*.pdf
*.synctex.gz
*.toc
.DS_Store
Esterni/PianoDiProgetto/*.fdb_latexmk
*.lot
Esterni/PianoDiProgetto/*.lot
Esterni/PianoDiProgetto/*.fls
Esterni/PianoDiProgetto/*.lof
Interni/Norme di Progetto/NormeDiProgetto.fdb_latexmk
Interni/Norme di Progetto/NormeDiProgetto.fls
Esterni/Glossario.fdb_latexmk
Esterni/Glossario.fls
Esterni/Glossario.ilg
Esterni/Glossario.ind
*.lof
*.ilg
Esterni/AnalisiDeiRequisiti/AnalisiDeiRequisiti.fls
Esterni/AnalisiDeiRequisiti/AnalisiDeiRequisiti.fdb_latexmk
Esterni/PianoDiQualifica/documentoPrincipale.fdb_latexmk
Esterni/PianoDiQualifica/documentoPrincipale.fls
Esterni/PianoDiQualifica/pianoDiQualifica.fdb_latexmk
Esterni/PianoDiQualifica/pianoDiQualifica.fls
Esterni/PianoDiProgetto/PianoDIProgetto.fdb_latexmk
Esterni/PianoDiProgetto/PianoDIProgetto.fls
Esterni/PianoDiProgetto/PianoDIProgetto.lof
Esterni/PianoDiProgetto/PianoDIProgetto.lot
Interni/Studio di fattibilità/StudioDiFattbilità.fls
Esterni/PianoDiProgetto/PianoDIProgetto.fls
Interni/Studio di fattibilità/StudioDiFattbilità.fdb_latexmk
Esterni/Glossario/Glossario.ind
Esterni/Glossario/Glossario.ilg
Esterni/Glossario/Glossario.idx
Esterni/Glossario/Glossario.fdb_latexmk
