*.log
*.aux
*.out
*.pdf
*.synctex.gz
*.toc
.DS_Store
Esterni/PianoDiProgetto/*.fdb_latexmk
*.lot
Esterni/PianoDiProgetto/*.lot
Esterni/PianoDiProgetto/*.fls
Esterni/PianoDiProgetto/*.lof
Interni/Norme di Progetto/NormeDiProgetto.fdb_latexmk
Interni/Norme di Progetto/NormeDiProgetto.fls
Esterni/PianoDiProgetto/PianoDIProgetto.lof
Esterni/PianoDiProgetto/PianoDIProgetto.lot
