*.log
*.aux
*.out
*.pdf
*.synctex.gz
*.toc
.DS_Store
Esterni/PianoDiQualifica/documentoPrincipale.fdb_latexmk
Esterni/PianoDiQualifica/documentoPrincipale.fls
Interni/Norme di Progetto/NormeDiProgetto.fdb_latexmk
Interni/Norme di Progetto/NormeDiProgetto.fls
Esterni/PianoDiQualifica/pianoDiQualifica.fdb_latexmk
Esterni/PianoDiQualifica/pianoDiQualifica.fls
